<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Create a new recipe below!</h1>
    <form action="/recipes" method="post">

    </form>
  </body>
</html>
